.toolbar {
    display: flex;
    padding: 8px 10px;
    background-color: #f8f9fa;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.toolbar-group {
    display: flex;
    align-items: center;
    gap: 4px;
}
.toolbar-group + .toolbar-group {
    &::before {
        content: '';
        display: block;
        width: 1px;
        height: 24px;
        margin-right: 8px;
        background-color: #ddd;
    }
}

.toolbar-select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
}

.toolbar-color {
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
